.layout-component-container{
    display: flex;
}

.layout-component-nav{
    border-radius: 10px;
    width: 20%;
    height: 97vh;
    background-color: #3E3E45;
    margin: 10px;
}

.layout-component-main{
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}