.nav-item-container{
    display: flex;
    width: 95%;
    background-color: #348DEC;
    padding: 5px;
    color: white;
    border-radius: 10px;
    margin: 5px auto;
}

.nav-item-label{
    margin: auto;
    font-size: 20px;
}

.nav-item-img{
    margin-left: 20px;
    filter: invert(80%) sepia(10%) saturate(200%) hue-rotate(86deg) brightness(118%) contrast(119%);
}